<html devsite="">
<head>
  <title>High-Resolution Audio Effects</title>
  <meta name="project_path" value="/_project.yaml">
  <meta name="book_path" value="/_book.yaml">
</head>

<body>
  {% include "_versions.html" %}
  <!--
      Copyright 2018 The Android Open Source Project

      Licensed under the Apache License, Version 2.0 (the "License");
      you may not use this file except in compliance with the License.
      You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

      Unless required by applicable law or agreed to in writing, software
      distributed under the License is distributed on an "AS IS" BASIS,
      WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
      See the License for the specific language governing permissions and
      limitations under the License.
  -->


  <p>The Android {{ androidPVersionNumber }} release includes the following
  improvements for high-resolution audio:</p>


  <ul>
    <li>Effect processing is converted from int16 to float format, one of the
    few remaining int16 pipelines in AudioFlinger. This effect processing
    change requires implementation work from vendors providing custom effects.
    That work is described in the following sections.</li>


    <li>The following improvements do not require any partner implementation:

      <ul>
        <li>The number of simultaneous client output tracks increases from 14
        to 40, as limited client AudioTracks have been an issue for
        applications in Android 8.x.</li>


        <li>Maximum client/server memory increases from 4MB to 32MB (depending
        on total device memory) to allow more simultaneous high-resolution
        audio tracks.</li>


        <li>Total mixed tracks increases from 32 to 256 to prevent resource
        contention between applications and the System UI.</li>
      </ul>
    </li>
  </ul>


  <h2 id="output-effect-changes">Output effect changes</h2>


  <p>Prior to the Android {{ androidPVersionNumber }} release, effect chain processing
was implemented in stereo int16 sample format. This had several limitations:</p>


  <ul>
    <li>All output effects forced conversion from floating point audio data to
    int16, causing loss of precision.</li>


    <li>Output effects were rejected from output sinks with a channel count
    greater than 2.</li>
  </ul>


  <p>In the Android {{ androidPVersionNumber }} release, the effect chain processing
  pipeline is upgraded to support the multichannel float format. Key points:</p>


  <ul>
    <li>Android software effects are already migrated to stereo float.</li>


    <li>Legacy effects are supported with format adapters, which convert float
    to int16 as needed.</li>
  </ul>


  <h2 id="implementing-output-effects">Implementing output effects</h2>


  <p>A reference implementation for output effects is available under
  <code>frameworks/av/media/libeffects</code>.</p>


  <p>Partners implementing their own custom output effects should do the
  following for the Android {{ androidPVersionNumber }} release:</p>


  <ul>
    <li>Update output effects to support the multichannel float format:

      <ul>
        <li>Int16 processing support is no longer required.</li>


        <li>Support output channel counts from 2 - 8 (for future compatibility
        consider counts from 1 - 30).</li>


        <li>Support input channel counts matching output channel count for
        insert effects. Auxiliary effects will continue to see an input channel
        count of 1 (mono).</li>


        <li>Support both channel position masks (canonical) and channel index
        masks of (1 &lt;&lt; n) - 1.</li>
      </ul>
    </li>


    <li>If you must continue to support legacy vendor output effects and cannot
    update them, then verify legacy code as follows:

      <ul>
        <li>Legacy output (insert) effects <strong>must reject</strong>
        unsupported configurations in <code>EFFECT_CMD_SET_CONFIG</code>.

          <ul>
            <li>Check that format is int16.</li>


            <li>Check that the input and output channel masks are stereo.</li>


            <li>If not, return <code>-EINVAL</code>.</li>
          </ul>
        </li>


        <li>Legacy output (auxiliary) effects are configured by AudioFlinger
        with a mono input channel mask and potentially multichannel output
        channel masks, depending on whether the output sink is multichannel.
        They <strong>must reject</strong> unsupported configurations in <code>
          EFFECT_CMD_SET_CONFIG</code>.

          <ul>
            <li>Check that the format is int16.</li>


            <li>Check that the input channel mask is mono and the output
            channel mask is stereo.</li>


            <li>If not, return <code>-EINVAL</code>.</li>
          </ul>
        </li>


        <li>Verify legacy code. Please do not assume it will work!</li>
      </ul>
    </li>
  </ul>
</body>
</html>
